body{
    background-color: rgb(240, 238, 238);
    margin: 0;
    
}
.header{
    background-color: darkblue;
    color: white;
    padding-left:  298px;
    display: flex;
}
 .hero-section{
    display: flex;
    justify-content: center;

 }
 .heading{
    padding-left: 60px;
    padding-right: 20px;
 }
.box{
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
.input{
    margin-bottom: 10px;
}

#title{
    /* padding-left: 50px; */
    padding-right: 260px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#publisher{
    /* padding-left: 50px; */
    padding-right: 260px;
    padding-top: 5px;
    padding-bottom: 5px;

}
#img{
    /* padding-left: 50px; */
    padding-right:260px;
    padding-top: 5px;
    padding-bottom: 5px;
}
button{
    padding-left: 190px;
    padding-right: 150px;
    margin-bottom: 10px;
    background-color: rgb(5, 106, 201);
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    
}

.btn1{
    padding-right:183px;
    /* padding-left: 10px; */
    
}